@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-top: 319px;
  margin-left: 230px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  display: flex;
  gap: 31px;
  max-width: 652px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
  position: relative;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 62px;
  font-weight: 400;
  font-size: 22px;
  color: #575757;
}

.card__title {
  margin-bottom: 42px;
  font-size: 24px;
  color: #222;
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card__price {
  display: flex;
  
}

.card__price_select {
  color: #ef5b70;
}

.card__color_select {
  color: #6f6e6e;
}
.card__size_select {
  color: #6f6e6e;
}
.card__quantity_select {
  width: 44px;
  height: 24px;
  border: 1px solid #EAEAEA;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  color: #656565;
}

.card__close {
  position: absolute;
  top: 28px;
  right: 22px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}