.top__head {
  background-color: #f8f3f4;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__head_heading {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}
.breadcrumbs__link_site {
  font-weight: 700;
  color: #F16D7F;
}

.checkout__list {
  margin-top: 33px;
  border-bottom: 1px solid #e8e8e8;
}
.checkout__list:last-child {
  margin-bottom: 93px;
}
.checkout__summary {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 30px;
  transition: color 0.2s;
  cursor: pointer;
}
.checkout__content {
  display: flex;
  justify-content: flex-start;
}
.checkout__content_left {
  width: 570px;
  padding-left: 35px;
  padding-bottom: 79px;
}
.checkout__content_guest-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #222222;
  margin-bottom: 15px;
}
.checkout__content_guest-text {
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: #b3b2b2;
  margin-bottom: 4px;
}

.form__guest-box {
  display: flex;
  margin-bottom: 19px;
  margin-top: 34px;
}
.form__guest-input {
  cursor: pointer;
  align-self: center;
}
.form__guest-label {
  margin-left: 14px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
}
.form__guest-link {
  display: block;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.54;
  color: #b3b2b2;
  transition: color 0.2s;
}
.form__guest-link::before {
  content: "\f101";
  font-family: "fontAwesome";
  margin-right: 8px;
}
.form__guest-link:hover {
  color: #F16D7F;
}
.form__guest-btn {
  margin-top: 38px;
  padding: 19px 54px;
  border: solid 1px #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: #fff;
}
.form__guest-btn:hover {
  transform: rotate(360deg);
  background-color: #f16d7f;
  color: #fff;
}

.form__registed-info {
  font-size: 12px;
  color: #222222;
  margin-bottom: 16px;
  margin-top: 23px;
}
.form__registed sup {
  vertical-align: baseline;
}
.form__registed span {
  color: #ff0d0d;
  font-size: 17px;
}
.form__registed-input {
  width: 390px;
  margin-bottom: 23px;
  border: solid 1px #eaeaea;
  padding: 14px;
}
.form__registed-required {
  font-size: 13px;
  color: #ff0d0d;
  margin-bottom: 32px;
}
.form__registed-btn {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  padding: 20px 55px;
  margin-right: 32px;
  transition: all 0.2s;
  text-transform: uppercase;
}
.form__registed-btn:hover {
  color: #fff;
  background-color: #F16D7F;
}
.form__registed-link {
  text-decoration: none;
  font-size: 14px;
  color: #222222;
  transition: color 0.2s;
}
.form__registed-link:hover {
  color: #F16D7F;
}/*# sourceMappingURL=checkout.css.map */