@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background: #fff;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
  color: #222;
  font-size: 14px;
  line-height: normal;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222;
  padding: 19px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation__left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation__right {
  display: flex;
  gap: 32px;
  position: relative;
}
.navigation__icon svg {
  fill: #E8E8E8;
}
.navigation__icon:hover svg {
  fill: #F16D7F;
}
.navigation__counter {
  background-color: #F16D7F;
  width: 20px;
  height: 20px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -9px;
}

.main {
  background-color: #F1E4E6;
  margin-bottom: 65px;
  position: relative;
}
.main__content {
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}
.main__pic {
  max-width: 50vw;
}
.main__text {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 60px;
}
.main__text h1 {
  font-size: 48px;
  font-weight: 900;
}
.main__text h2 {
  font-size: 32px;
  font-weight: 700;
}

.menu__active {
  width: 232px;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px 32px 12px 32px;
  display: flex;
  flex-direction: column;
}
.menu__heading {
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}
.menu__text {
  color: #F16D7F;
  margin-bottom: 12px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  padding-left: 21px;
  gap: 11px;
  margin-bottom: 20px;
}
.menu__item {
  cursor: pointer;
  color: #6F6E6E;
}

.hide {
  display: none;
}

li {
  list-style-type: none;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 96px;
}
.category__choice {
  height: 260px;
}
.category__choice_last {
  grid-column: span 3;
  height: 180px;
}
.category__box {
  background-color: rgba(33, 22, 22, 0.7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category__box_title {
  color: #FFF;
  text-align: center;
  font-size: 16px;
}
.category__box_subtitle {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.featured {
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.featured__title {
  font-size: 30px;
}
.featured__text {
  color: #9F9F9F;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 48px;
}

.card {
  background-color: #f8f8f8;
}
.card__img {
  background-size: cover;
  width: 360px;
  height: 420px;
}
.card__dark {
  display: none;
  background-color: rgba(58, 56, 56, 0.86);
  height: 100%;
}
.card__img:hover .card__dark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__button {
  padding: 11px 16px 8px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border: 1px solid #FFF;
  background: none;
}
.card__button_text {
  color: #FFF;
}
.card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 16px;
}
.card__text_title {
  font-size: 13px;
  padding-bottom: 14px;
}
.card__text_desc {
  color: #5D5D5D;
  font-weight: 300;
  padding-bottom: 18px;
}
.card__text_price {
  color: #F16D7F;
  font-size: 16px;
}

.browse {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 95px;
}
.browse__btn {
  border: 1px solid #FF6A6A;
  color: #F26376;
  font-size: 16px;
  padding: 15px 39px;
  cursor: pointer;
  background: #fff;
}
.browse__btn:hover {
  background: #F16D7F;
  border: 1px solid #FFF;
  color: #FFF;
}

.promo {
  background-color: #222224;
}
.promo__adver {
  display: flex;
  gap: 30px;
}
.promo__advertize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 104px 0;
  gap: 16px;
}
.promo__title {
  color: #FBFBFB;
  font-size: 20px;
}
.promo__text {
  color: #FBFBFB;
  font-weight: 300;
  font-size: 13px;
}

.feedback {
  background-image: url("./img/Layer 41.png");
  background-size: cover;
}
.feedback__background {
  background-color: rgba(244, 244, 244, 0.7);
}
.feedback__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback__response {
  padding: 97px 0 126px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  max-width: 360px;
  margin-right: 223px;
}
.feedback__response_text {
  color: #222224;
  text-align: center;
  font-size: 20px;
}
.feedback__subscribe {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  margin-left: 104px;
}
.feedback__subscribe_textbox {
  opacity: 0.671;
}
.feedback__subscribe_title {
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%; /* 40.128px */
}
.feedback__subscribe_text {
  color: #222224;
  font-size: 18px;
  line-height: 167.2%;
}
.feedback__subscribe_form {
  display: flex;
  max-height: 49px;
}
.feedback__subscribe_input {
  background-color: #E1E1E1;
  padding: 10px 64px 10px 22px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  color: #222224;
  border: none;
  line-height: 167.2%;
  opacity: 0.67;
}
.feedback__subscribe_btn {
  padding: 10px 7px;
  background-color: #F16D7F;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #FFF;
  text-align: center;
  border: none;
  cursor: pointer;
  line-height: 167.2%;
}

.footer {
  background-color: #222224;
}
.footer__media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__media_text {
  margin: 30px 0;
}
.footer__media_text h6 {
  color: #FBFBFB;
  font-size: 16px;
}
.footer__media_icons {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  margin: 24px 0;
}
.footer__media_link {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  cursor: pointer;
  padding: 8px;
  text-align: center;
}
.footer__media_link:hover {
  background-color: #F16D7F;
}

svg:hover {
  fill: #FFF;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  display: flex;
  gap: 30px;
  max-width: 652px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
  position: relative;
}
.item__pic {
  max-width: 262px;
}
.item__content {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 62px;
  font-weight: 400;
  font-size: 22px;
  color: #575757;
}
.item__title {
  margin-bottom: 42px;
  font-size: 24px;
  color: #222;
}
.item__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.item__price {
  display: flex;
}
.item__price_select {
  color: #ef5b70;
}
.item__color_select {
  color: #6f6e6e;
}
.item__size_select {
  color: #6f6e6e;
}
.item__quantity_select {
  width: 44px;
  height: 24px;
  border: 1px solid #EAEAEA;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  color: #656565;
}
.item__close {
  position: absolute;
  top: 28px;
  right: 22px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1270px) {
  .container {
    max-width: 736px;
  }
  .main__text {
    margin-left: 39px;
  }
  .main__text h1 {
    font-size: 44px;
  }
  .main__text h2 {
    font-size: 24px;
  }
  .category {
    gap: 19px;
    margin-bottom: 110px;
  }
  .category__choice {
    height: 167px;
  }
  .category__choice_last {
    height: 116px;
  }
  .fetured {
    margin-bottom: 73px;
  }
  .fetured__title {
    padding-bottom: 3px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 32px;
  }
  .browse {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
  .promo__adver {
    flex-direction: column;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .promo__advertize {
    padding: 48px 0 0 0;
    justify-content: center;
  }
  .promo__pic {
    margin-bottom: 28px;
  }
  .promo__title {
    font-size: 19px;
    margin-bottom: 16px;
  }
  .feedback__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .feedback__subscribe {
    gap: 27px;
    margin-left: 0px;
    padding: 0 0 140px 0;
  }
  .feedback__subscribe_title {
    line-height: 162%;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #222224;
  }
  .feedback__subscribe_text {
    line-height: 162%;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 28px;
  }
  .feedback__response {
    margin-right: 0px;
    padding: 64px 0 0 0;
  }
  .feedback__response_img {
    padding-bottom: 30px;
  }
  .container2 {
    max-width: 360px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 343px;
  }
  .hidden {
    display: none;
  }
  .main {
    margin-bottom: 64px;
  }
  .main__content {
    height: 363px;
    display: flex;
  }
  .main__text {
    flex-direction: column;
    padding-left: 15px;
  }
  .main__text h1 {
    font-size: 38px;
  }
  .main__text h2 {
    font-size: 20px;
  }
  .navigation__counter {
    display: none;
  }
  .category {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .category__choice {
    height: 247px;
  }
  .category__choice_last {
    height: 111px;
    background-position: center;
    background-size: cover;
  }
  .featured__title {
    font-weight: 400;
    font-size: 30px;
  }
  .featured__text {
    font-weight: 400;
    font-size: 14px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card__img {
    width: 343px;
  }
  .browse {
    margin-top: 40px;
    margin-bottom: 85px;
  }
  .promo__adver {
    flex-direction: column;
    padding-bottom: 81px;
  }
  .promo__advertize {
    padding: 48px 0 0 0;
    justify-content: center;
  }
  .feedback__background {
    background-position: bottom;
  }
  .feedback__content {
    flex-direction: column;
    gap: 59px;
  }
  .feedback__response {
    margin-right: 0px;
    padding: 64px 0 0 0;
  }
  .feedback__subscribe {
    gap: 22px;
    margin-left: 0px;
    padding: 0 0 110px 0;
  }
  .feedback__subscribe_title {
    line-height: 153%;
  }
  .feedback__subscribe_text h4 {
    line-height: 153%;
  }
  .footer__media {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 0 9px 0;
  }
}/*# sourceMappingURL=style.css.map */