@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background: #fff;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
  color: #222;
  font-size: 14px;
  line-height: normal;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222;
  padding: 19px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation__left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation__right {
  display: flex;
  gap: 32px;
  position: relative;
}
.navigation__icon svg {
  fill: #E8E8E8;
}
.navigation__icon:hover svg {
  fill: #F16D7F;
}
.navigation__counter {
  background-color: #F16D7F;
  width: 20px;
  height: 20px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -9px;
}

.main {
  background-color: #F1E4E6;
  margin-bottom: 65px;
  position: relative;
}
.main__content {
  display: flex;
  gap: 60px;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}
.main__text {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.main__text h1 {
  font-size: 48px;
  font-weight: 900;
}
.main__text h2 {
  font-size: 32px;
  font-weight: 700;
}

.menu__active {
  width: 232px;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px 32px 12px 32px;
  display: flex;
  flex-direction: column;
}
.menu__heading {
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}
.menu__text {
  color: #F16D7F;
  margin-bottom: 12px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  padding-left: 21px;
  gap: 11px;
  margin-bottom: 20px;
}
.menu__item {
  cursor: pointer;
  color: #6F6E6E;
}

.hide {
  display: none;
}

li {
  list-style-type: none;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding-top: 65px;
}
.category__choice {
  height: 260px;
}
.category__choice_last {
  grid-column: span 3;
  height: 180px;
}
.category__box {
  background-color: rgba(33, 22, 22, 0.7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category__box_title {
  color: #FFF;
  text-align: center;
  font-size: 16px;
}
.category__box_subtitle {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured h3 {
  font-size: 30px;
  padding-bottom: 6px;
}

.featured p {
  color: #9F9F9F;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 48px;
}

.card {
  background-color: #f8f8f8;
}
.card__img {
  background-size: cover;
  width: 360px;
  height: 420px;
}
.card__dark {
  display: none;
  background-color: rgba(58, 56, 56, 0.86);
  height: 100%;
}
.card__img:hover .card__dark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__button {
  padding: 11px 16px 8px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border: 1px solid #FFF;
  background: none;
}
.card__button_text {
  color: #FFF;
}
.card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 16px;
}
.card__text_title {
  font-size: 13px;
  padding-bottom: 14px;
}
.card__text_desc {
  color: #5D5D5D;
  font-weight: 300;
  padding-bottom: 18px;
}
.card__text_price {
  color: #F16D7F;
  font-size: 16px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 60px;
}

.browse {
  border: 1px solid #FF6A6A;
  color: #F26376;
  font-size: 16px;
  padding: 15px 39px;
  cursor: pointer;
  background: #fff;
}

.browse:hover {
  background: #F16D7F;
  border: 1px solid #FFF;
  color: #FFF;
}

.footer__adv {
  background-color: #222224;
  margin-top: 95px;
}
.footer__adver {
  display: flex;
  gap: 30px;
}
.footer__advertize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 104px 0;
  gap: 16px;
}
.footer__advertize h3 {
  color: #FBFBFB;
  font-size: 20px;
}
.footer__advertize p {
  color: #FBFBFB;
  font-weight: 300;
}
.footer__feedback {
  background-image: url("./img/Layer 41.png");
  background-size: cover;
}
.footer__picture {
  background-color: rgba(244, 244, 244, 0.7);
}
.footer__bg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__feedback-1 {
  padding: 97px 0 126px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  max-width: 360px;
  margin-right: 223px;
}
.footer__feedback-1 p {
  color: #222224;
  text-align: center;
  font-size: 20px;
}
.footer__feedback-2 {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  margin-left: 104px;
}
.footer__feedback-2_text {
  opacity: 0.671;
}
.footer__feedback-2_text h2 {
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%; /* 40.128px */
}
.footer__feedback-2_text h4 {
  color: #222224;
  font-size: 18px;
  line-height: 167.2%;
}
.footer__feedback-2_subscribe {
  display: flex;
  max-height: 49px;
}
.footer__feedback-2 input {
  background-color: #E1E1E1;
  padding: 10px 64px 10px 22px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  color: #222224;
  border: none;
}
.footer__feedback-2 button {
  padding: 10px 7px;
  background-color: #F16D7F;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #FFF;
  text-align: center;
  border: none;
  cursor: pointer;
}
.footer__media {
  background-color: #222224;
}
.footer__media-epilogue {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__media-text {
  margin: 30px 0;
}
.footer__media-text h6 {
  color: #FBFBFB;
  font-size: 16px;
}
.footer_media-icons {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  margin: 24px 0;
}
.footer__media-button {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  cursor: pointer;
}
.footer__media-button:hover {
  background-color: #F16D7F;
}

svg:hover {
  fill: #FFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 736px;
  }
  .main_content {
    gap: 39px;
  }
  .main_text {
    margin-left: 39px;
  }
  .main_text h1 {
    font-size: 44px;
  }
  .main_text h2 {
    font-size: 24px;
  }
  .category_choice {
    gap: 19px;
  }
  .category_1 category_2 category_3 {
    height: 167px;
  }
  .category_4 {
    height: 116px;
  }
  .featured h3 {
    padding-bottom: 3px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin-top: 73px;
  }
  .links {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 70px;
  }
  .footer__bg {
    flex-direction: column;
    gap: 48px;
  }
  .footer_feedback-1 {
    margin-right: 0px;
    padding: 64px 0 0 0;
  }
  .footer__feedback-2 {
    gap: 27px;
    margin-left: 0px;
    padding: 0 0 140px 0;
  }
  .footer__feedback-2_text h2 {
    line-height: 162%;
  }
  .footer__feedback-2_text h4 {
    line-height: 162%;
  }
  .container2 {
    max-width: 360px;
  }
  .footer__adver {
    flex-direction: column;
    padding-bottom: 64px;
  }
  .footer__advertize {
    padding: 48px 0 0 0;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 343px;
  }
  .hidden {
    display: none;
  }
  .main_content {
    height: 363px;
    display: flex;
  }
  .main_text {
    flex-direction: column;
    padding-left: 15px;
  }
  .main_text h1 {
    font-size: 38px;
  }
  .main_text h2 {
    font-size: 20px;
  }
  .items-in-basket {
    display: none;
  }
  .category_choice {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 64px;
  }
  .category_1 {
    height: 247px;
  }
  .category_2 {
    height: 247px;
  }
  .category_3 {
    height: 247px;
  }
  .category_4 {
    height: 111px;
    background-position: center;
    background-size: cover;
  }
  .featured {
    margin-top: 64px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 64px;
  }
  .card-pic1 {
    width: 343px;
  }
  .card-pic2 {
    width: 343px;
  }
  .card-pic3 {
    width: 343px;
  }
  .card-pic4 {
    width: 343px;
  }
  .card-pic5 {
    width: 343px;
  }
  .card-pic6 {
    width: 343px;
  }
  .links {
    margin-top: 40px;
    margin-bottom: 85px;
  }
  .footer__feedback {
    background-position: bottom;
  }
  .footer__bg {
    flex-direction: column;
    gap: 59px;
  }
  .footer_feedback-1 {
    margin-right: 0px;
    padding: 64px 0 0 0;
  }
  .footer__feedback-2 {
    gap: 22px;
    margin-left: 0px;
    padding: 0 0 110px 0;
  }
  .footer__feedback-2_text h2 {
    line-height: 153%;
  }
  .footer__feedback-2_text h4 {
    line-height: 153%;
  }
  .footer__adver {
    flex-direction: column;
    padding-bottom: 81px;
  }
  .footer__advertize {
    padding: 48px 0 0 0;
    justify-content: center;
  }
  .footer_media-epilogue {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 0 9px 0;
  }
}/*# sourceMappingURL=style.css.map */