@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #fff;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, button, p {
    color: #222;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #222;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 19px 0;
}

.navi_left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 41px;
}

.navi_right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 41px;
}

.bttn {
    border: none;
    background: none;
    cursor: pointer;
    fill: #E8E8E8;
}

.main {
    background-color: #F1E4E6;
    margin: 0 auto;
}

.main_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 63px;
    justify-content: center;
    align-items: center;
}

.main_text {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.main_text h1 {
    font-size: 48px;
    font-weight: 900;
}

.main_text h2 {
    font-size: 32px;
    font-weight: 700;
}

.category_choice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding-top: 65px;
}

.category_1 {
    background-image: url("./img/For_women.png");
    height: 260px;
}

.category_2 {
    background-image: url("./img/For_men.png");
    height: 260px;
}

.category_3 {
    background-image: url("./img/For_kids.png");
    height: 260px;
}

.category_4 {
    grid-column: span 3;
    background-image: url("./img/Accesories.png");
    height: 180px;
}

.cat_bg {
    background-color: rgba(33, 22, 22, 0.70);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat_bg h5 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

.cat_bg h4 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured h3 {
    font-size: 30px;
    padding-bottom: 6px;
}

.featured p {
    color: #9F9F9F;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 48px;
}

.card {
    background-color: #F8F8F8;
}

.card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px 16px;
}

.card_text h6 {
    font-size: 13px;
    padding-bottom: 14px;
}

.card_text p {
    color: #5D5D5D;
    font-weight: 300;
    padding-bottom: 18px;
}

.card_text h5 {
    color: #F16D7F;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 60px;
}

.browse {
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-size: 16px;
    padding: 15px 39px;
    cursor: pointer;
    background: #fff;
}

@media(min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 736px;
    }
    
    .main_content {
        gap: 39px;
    }

    .main_text {
        margin-left: 39px;
    }

    .main_text h1 {
        font-size: 44px;      
    }
    
    .main_text h2 {
        font-size: 24px;
    }

    .category_choice {
        gap: 19px;    
    }

    .category_1 category_2 category_3 {
        height: 167px;
    }
    
    .category_4 {
        height: 116px;
    }
    
    .featured h3 {
        padding-bottom: 3px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        margin-top: 73px;
    }

    .links {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 70px;
    }
}

@media(max-width: 767px) {
    .container {
        max-width: 343px;
    }

    .hidden {
        display: none;
    }

    .main_content {
        height: 363px;
        display: flex;
    }

    .main_text {
        flex-direction: column;
        padding-left: 15px;
    }

    .main_text h1 {
        font-size: 38px;      
    }
    
    .main_text h2 {
        font-size: 20px;
    }

    .category_choice {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 64px;
    }

    .category_1 category_2 category_3 {
        height: 247px;
    }
    
    .category_4 {
        height: 111px;
        background-position: center;
        background-size: cover;
    }

    .featured {
        margin-top: 64px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 64px;
    }

    .links {
        margin-top: 40px;
        margin-bottom: 85px;
    }
}