@import 'vars';

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-LightItalic.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {

}

.container {
    
}