@import 'vars';
@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
@import "../scss/brands.scss";
@import "../scss/regular.scss";


@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.ttf');
    src: url('../fonts/Lato-Bold.ttf');
    src: url('../fonts/Lato-Italic.ttf');
    src: url('../fonts/Lato-Light.ttf');
    src: url('../fonts/Lato-LightItalic.ttf');
    src: url('../fonts/Lato-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background: #fff;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: $widthSite;
    margin: 0 auto;
}

.header {
    height: 100px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
    background-color: #ffffff;
    &__top {
        display: flex;
        justify-content: space-between;
        height: 100%;
        &-left {
            display: flex;
            align-items: center;
            &-title {
                margin-left: 12px;
                font-size: 27px;
                line-height: 32px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #222222;
            }
        }
        &-right {
            display: flex;
            align-items: center;
            gap: 26px;
        }
    }
}

.search {
    width: 404px;
    margin-left: 37px;
    position: relative;
    &__browse {
        width: 87px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #cdcdcc;
        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;
        & p {
            font-size: 14px;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #222222;
        }
        & i {
            font-size: 14px;
            color: #838383;
        }
    }
    &__input {
        width: 317px;
        height: 38px;
        padding-left: 16px;
        position: absolute;
        top: 0;
        left: 87px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #a4a4a4;
    }
    &__button {
        height: 38px;
        width: 36px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #a4a4a4;
    }
}

.account__button {
    padding: 8px 12px;
    background-color: $colorSelectSite;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
    & p {
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
    }
    & i {
        font-size: 14px;
        color: #ffffff;
    }
}

.account__button:hover {
    background-color: #fff;
    border: 1px solid $colorSelectSite;
    & p {
        color: $colorSelectSite;
    }
    & i {
        color: $colorSelectSite;
    }
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu__list {
    position: relative;
}

.menu__list:hover .mega-box {
    display: flex;
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box:before {
    right: 49px;
    left: auto;
}

.menu__link {
    display: block;
    padding: 20px 25px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.mega-box {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 20px;
    position: absolute;
    top: 51px;
    display: none;
}

.mega-box::before {
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    background-color: #fff;
    position: absolute;
    top: -9px;
    left: 30px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.mega-list {
    margin-right: 46px;
}

.mega-list:last-of-type {
    margin-right: 0;
}

.mega-title {
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    margin-bottom: 16px;
}

.mega-link {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    display: block;
}

.mega-link:hover {
    color: $colorSelectSite;
}

.banner {
    background-color: #e8e8e8;
    background-image: url(../img/main_photo.png);
}

.banner__content {
    height: 613px;
    padding-top: 224px;
}

.banner__text {
    display: flex;
}

.banner__title {
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.banner-line {
    display: block;
    width: 12px;
    height:  100%;
    background-color: $colorSelectSite;
}

.banner__title h1 {
    font-size: 60px;
}

.banner__title h2 {
    font-size: 40px;
}

.banner__text-fashion {
    color: $colorSelectSite;
}

.choice {
    margin-top: 98px;
}

.choice__category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.choice__category a {
    cursor: pointer;
}

.category__big {
    grid-row: span 2;
    position: relative;
}

.category {
    position: relative;
}

.category-text {
    position: absolute;
    top: 26px;
    background-color: #fff;
    padding: 16px 20px;
}

.category-text p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.category-text h2 {
    font-size: 30px;
    color: $colorSelectSite;
}

.fetured__text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.fetured__text h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
}

.fetured__text p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 60px;
}

.card-pic1 {
    background-image: url(../img/pic1.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card-pic2 {
    background-image: url(../img/pic2.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card-pic3 {
    background-image: url(../img/pic3.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card-pic4 {
    background-image: url(../img/pic4.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card-pic5 {
    background-image: url(../img/pic5.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card-pic6 {
    background-image: url(../img/pic6.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card-pic7 {
    background-image: url(../img/pic7.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card-pic8 {
    background-image: url(../img/pic8.png);
    background-size: cover;
    width: 260px;
    height: 280px;
}

.card_dark {
    display: none;
    background-color: rgba(58, 56, 56, 0.86);
    height: 100%;
}

.card_button {
    width: 123px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: none;
}

.card_button p {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.card:hover .card_dark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
    cursor:pointer;
}

.card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 17px;
    padding: 19px 12px;
}

.card_text h6 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.card_text h5 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 113px;
    &_button {
        background: #f16d7f;
        border: 1px solid #FFF;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.025em;
        padding: 18px 20px;
        cursor: pointer;
    }
    &_button:hover {
        background: #FFF;
        border: 1px solid #FF6A6A;
        color: #F26376;
    }
    & i {
        font-size: 15px;
        letter-spacing: 0.025em;
        padding-left: 9px;
    }
}

.offer {
    height: 529px;
}

.offer__banner {
    display: flex;

}

.offer__left {
    position: relative;
    width: 767px;
}

.offer__text {
    position: absolute;
    top: 146px;
    left: 39px;
    & h4 {
        font-size: 53.7px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
    }
    & p {
        font-size: 32.2px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
    }
    & .discount {
        color: #f16d7f;
    }
}

.offer__right {
    background-color: #222224;
}

.offer__advantages {

}

.offer__advantages-text h5{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.offer__advantages-text p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.feedback {
    background-image: url(../img/reply_background.png);
    background-size: cover;
    &__background {
        background-color: rgba(244, 244, 244, 0.70);
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__picture {
        padding: 97px 0 126px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        max-width: 360px;
        margin-right: 223px;
    }
    &__picture p {
        color: #222224;
        text-align: center;
        font-size: 20px;
    }
    &__subscription {
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 32px;
        margin-left: 104px;
    }
    &__subscription_title {
        opacity: 0.671;
        & h2 {
            color: #222224;
            font-size: 24px;
            font-weight: 700;
            line-height: 167.2%;
        }
        & h4 {
            color: #222224;
            font-size: 18px;
            line-height: 167.2%;
        }
        &_form {
            display: flex;
            max-height: 49px;
        }
        & input {
            background-color: #E1E1E1;
            padding: 10px 64px 10px 22px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            color: #222224;
            border: none;
        }
        &_button {
            padding: 10px 7px;
            background-color: $colorSelectSite;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            color: #FFF;
            text-align: center;
            border: none;
            cursor: pointer;
        }
    }
}
