/* jost-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v15-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/jost-v15-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-weight: 400;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.banner {
  position: relative;
}
.banner__box {
  position: absolute;
  top: 178px;
  left: 50%;
  border-radius: 37px 37px 0 0;
  background-color: #fff;
  padding: 41px 78px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

button {
  cursor: pointer;
}

.header {
  margin-top: 44px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 57px;
}
.nav__right {
  display: flex;
  gap: 40px;
}

.hero-block {
  max-height: 758px;
  margin-bottom: 96px;
}

.hero {
  background-image: url(../img/hero-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__box {
  padding-top: 208px;
  padding-bottom: 208px;
  padding-left: 52px;
}
.hero__title {
  font-family: "DM Serif Display", sans-serif;
  font-size: 65px;
  color: #292f36;
  margin-bottom: 18px;
  max-width: 594px;
  font-weight: 400;
  line-height: 1.25;
}
.hero__text {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #4d5053;
  max-width: 432px;
  margin-bottom: 21px;
}
.hero__button {
  border-radius: 18px;
  padding: 26px 48px;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  background: #292f36;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.hero__button:hover {
  background-color: #f4f0ec;
  color: #292f36;
}
.hero__button:active {
  transform: scale(0.9);
}
.hero__button::after {
  content: "";
  display: block;
  background-image: url("../img/arrow.svg");
  stroke-width: 2px;
  stroke: #cda274;
  width: 18px;
  height: 17px;
}

.main {
  margin-bottom: 33px;
}

.about__title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: #292f36;
  margin-bottom: 8px;
}
.about__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
  text-align: center;
  margin-bottom: 93px;
}
.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 104px;
  grid-row-gap: 56px;
  margin-bottom: 96px;
}
.about__card {
  display: flex;
  flex-direction: column;
}

.card__img {
  margin-bottom: 24px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card__title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #292f36;
  margin: 0;
}
.card__subtitle {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
  margin: 0;
}
.card__button {
  color: #f4f0ec;
  border-radius: 100%;
  border-color: transparent;
  width: 70px;
  height: 70px;
  outline: none;
}

.promo {
  background-color: #f4f0ec;
  margin-bottom: 96px;
}
.promo__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 151px 0 151px;
}
.promo__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #cda274;
}
.promo__box:first-child {
  border-left: none;
}
.promo__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
  margin: 0;
}
.promo__selection {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 85px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #cda274;
  margin: 0;
}

.articles__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.articles__title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #292f36;
}
.articles__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #4d5053;
  margin-bottom: 52px;
}
.articles__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  justify-content: space-between;
}
.articles__item {
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  padding: 21px;
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
}
.articles__item:hover {
  box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
  background: #f4f0ec;
}
.articles__item:hover button {
  background-color: #fff;
}
.articles .item {
  position: relative;
  z-index: 1;
}
.articles .item__img {
  margin-bottom: 21px;
}
.articles .item__design {
  position: absolute;
  left: 41px;
  top: 249px;
  z-index: 5;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4d5053;
  background: #fff;
  border-radius: 8px 8px 8px 0;
  padding: 4px 10px;
}
.articles .item__text {
  margin-bottom: 16px;
}
.articles .item__text_title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #292f36;
  margin-bottom: 30px;
}
.articles .item__text_subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .item__text_date {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4d5053;
}
.articles .item__text_link {
  width: 52px;
  height: 52px;
}

.footer {
  margin-bottom: 100px;
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__media_link {
  margin-right: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__links_title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  color: #292f36;
}
.footer__links_text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 3;
  letter-spacing: 0.01em;
  color: #4d5053;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__contacts_title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  color: #292f36;
}
.footer__contacts_info {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 3;
  letter-spacing: 0.01em;
  color: #4d5053;
}/*# sourceMappingURL=style.css.map */